<form id="myForm" method="POST" action="/api/add_note">
  <div class="form_item">
    <label>Owner of note:</label>
    <input type="text" id="owner" name="owner">
  </div>

  <div class="form_item">
    <label>Title of the note:</label>
    <input type="text" id="title" name="title">
  </div>

  <div class="form_item">
    <label>Message:</label>
    <textarea id="message" name="message"></textarea>
  </div>
  <button type="submit"> Add note </button>
</form>